<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%c] %p - %m%n"/>
        </Console>
        <File name="MAIN" fileName="client.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%c] %p - %m%n"/>
        </File>
        <File name="DEBUG_LOG" fileName="debug.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%c] %p - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" level="WARN"/>
            <AppenderRef ref="MAIN"/>
        </Root>
        <Logger name="org.example" level="DEBUG">
            <AppenderRef ref="DEBUG_LOG"/>
        </Logger>
    </Loggers>
</Configuration>